/* * {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

/* body {
   background-color: #2c0e44;
  color: #d1bfe4;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;  
} */

/* header img {
  object-fit: contain;
  margin-bottom: 1rem;
  width: 20rem;
  height: 15rem;
} */


/* header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.4em;
  text-align: center;
  text-transform: uppercase;
  color: #9a3412; 
  font-family: 'Pacifico', cursive;
  margin: 0;
}

header p {
  text-align: center;
  color: #a39191;
  margin: 0;
} */
/* 
@media (min-width: 768px) {
  header {
    margin-bottom: 4rem;
  }

  header h1 {
    font-size: 2.25rem;
  }
}

main {
  text-align: center;
  padding: 2rem 0;  
}


 
#experties {
  width: 90%;
  max-width: 60rem;
  margin: auto;
}

#experties h2 {
  color: #fff;  
  margin-bottom: 1.5rem;
}

 #experties ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;  
  gap: 1rem;  
  justify-content: center;
  flex-wrap: wrap;  
} */

 /* .experties-item {
  background-color: #1a0833;  
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  flex: 1; 
  min-width: 150px;  
  color: #d1bfe4;
}

.experties-item img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin-bottom: 0.5rem;
} */

/* .experties-item h3 {
  color: #9a3412; 
  margin: 0.5rem 0;
}

.experties-item p {
  font-size: 0.9rem;
  color: #a39191;
} */


.page {
  text-align: center;
  margin-top:  50vh;
   
}

.buttons
{
    color: white;
    background: cornflowerblue;
    padding: 10px 40px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
